﻿@{
    ViewBag.Title = "Bookee";
}
<h2></h2>

<html ng-app="App">
<head>
    <title ng-bind="models.titleText"></title>
    <!--  html templates used by angular, usually in separate files -->
    <script type="text/ng-template" id="default.html">
        <div class="list-group-item text-center">Please choose a book to edit or view</div>
    </script>
    <!--   template used for adding a new book    -->
    <script type="text/ng-template" id="addBook.html">
        <div ng-controller="AddBookController">
            <form name="addForm">
                <div id="detailsMain">
                    <div id="top" class="details">
                        <div id="photo">
                            <img ng-src="{{currentBook.ImageURL}}" alt="change image here" ng-click="changeImage()" />
                        </div>
                        <div id="mainInfo">
                            <div id="detailsMainTop" class="detailsMainPart">
                                <div id="titleInfo" class="detailsInputFields">
                                    <label for="title" class="labelDetails">Title</label>
                                    <input id="title" class="form-control detailsInput detailsTop" placeholder="Title" title="Title" name="bookTitle" ng-model="currentBook.Title" required title-valid />
                                    <div role="alert">
                                        <span class="error" style="float:right;overflow:hidden" ng-show="addForm.bookTitle.$error.required">
                                            This field is required
                                        </span>
                                        <span class="error" style="float:right;overflow:hidden" ng-show="addForm.$error.titleValid">
                                            Please specify the title that is not greater than 30 characters
                                        </span>
                                    </div>
                                </div>
                                <div id="pageCountInfo" class="detailsInputFields">
                                    <label for="pageCount" class="labelDetails">Page count</label>
                                    <input id="pageCount" class="form-control detailsInput detailsTop" placeholder="Number of pages" name="pageCount" title="Number of pages" ng-model="currentBook.PageCount" required pages-count-valid />
                                    <div role="alert">
                                        <span class="error" style="float:right;overflow:hidden" ng-show="addForm.pageCount.$error.required">
                                            This field is required
                                        </span>
                                        <span class="error" style="float:right;overflow:hidden" ng-show="addForm.$error.pagesCountValid">
                                            Please specify pages count from 1 to 10000
                                        </span>
                                    </div>
                                </div>
                                <div id="isbnInfo" class="detailsInputFields">
                                    <label for="isbn" class="labelDetails">ISBN</label>
                                    <input id="isbn" class="form-control detailsInput detailsTop" placeholder="ISBN" name="isbn" title="ISBN" ng-model="currentBook.ISBN" required isbn-valid />
                                    <div role="alert">
                                        <span class="error" style="float:right;overflow:hidden" ng-show="addForm.isbn.$error.required">
                                            This field is required
                                        </span>
                                        <span class="error" style="float:right;overflow:hidden" ng-show="addForm.$error.isbnValid">
                                            Please specify valid ISBN (e.g. 978-1-56619-909-4)
                                        </span>
                                    </div>
                                </div>
                                <div id="publisherInfo" class="detailsInputFields">
                                    <label for="publisher" class="labelDetails">Publisher</label>
                                    <input id="publisher" class="form-control detailsInput detailsTop" placeholder="Publisher" title="Publisher" ng-model="currentBook.Publisher" publisher-valid />
                                    <div role="alert">
                                        <span class="error" style="float:right;overflow:hidden" ng-show="addForm.$error.publisherValid">
                                            Please specify the publisher name that is not greater than 30 characters
                                        </span>
                                    </div>
                                </div>
                                <div id="publicationYearInfo" class="detailsInputFields">
                                    <label for="publicationYear" class="labelDetails">Publish year</label>
                                    <input id="publicationYear" class="form-control detailsInput detailsTop" placeholder="Year of publishing" name="publishYear" title="Year of publishing" ng-model="currentBook.PublicationYear" required publication-year-valid />
                                    <div role="alert">
                                        <span class="error" style="float:right;overflow:hidden" ng-show="addForm.publishYear.$error.required">
                                            This field is required
                                        </span>
                                        <span class="error" style="float:right;overflow:hidden" ng-show="addForm.$error.publicationYearValid">
                                            Please specify publication year that is equal or greater than 1800
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="middle" class="details">
                    </div>
                    <div id="bottom" class="details">
                        <label>Authors</label>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <author ng-repeat="author in currentBook.Authors | orderBy: ['LastName', 'FirstName']"></author>
                            </li>
                            <li class="list-group-item">
                                <i>Fill in the fields below to add another author</i>
                                <div class="row">
                                    <div class="form-group col-xs-5" style="padding-right:0px">
                                        <input id="firstName" class="form-control input-group-lg reg_name detailsInput" type="text" name="firstname"
                                               title="Enter first name"
                                               placeholder="First name" ng-model="currentAuthor.FirstName" />
                                    </div>
                                    <div class="form-group col-xs-5" style="padding-right:0px">
                                        <label for="lastname" class="sr-only"></label>
                                        <input id="lastName" class="form-control input-group-lg reg_name  detailsInput" type="text" name="lastname"
                                               title="Enter last name"
                                               placeholder="Last name" ng-model="currentAuthor.LastName" />
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <a class="list-group-item addButton" ng-click="addAuthor()">
                                            Add
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button ng-disabled="addForm.$invalid" ng-enabled="editForm.$valid" class="btn btn-default" ng-click="addBook()">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span>Add</span>
                    </button>
                </div>
            </form>
        </div>
    </script>
    <!-- template for Book list item	 -->
    <script type="text/ng-template" id="book.html">
        <a class="list-group-item" ng-href="#/bookInfo/{{books.indexOf(book)}}">
            <b>{{book.Title}}</b> <i>({{book.PublicationYear}})</i>
        </a>
    </script>
    <script type="text/ng-template" id="author.html">
        <a class="list-group-item">
            {{author.FirstName}} {{author.LastName}}
        </a>
    </script>
    <!-- 	template for displaying a Books info and edit existing Book	 -->
    <script type="text/ng-template" id="bookInfo.html">
        <div id="detailsMain">
            <form name="editForm">
                <div id="detailsMain">
                    <div id="top" class="details">
                        <div id="photo">
                            <img ng-src="{{currentBook.ImageURL}}" alt="change image here" ng-click="changeImage()" />
                        </div>
                        <div id="mainInfo">
                            <div id="detailsMainTop" class="detailsMainPart">
                                <div id="titleInfo" class="detailsInputFields">
                                    <label for="title" class="labelDetails">Title</label>
                                    <input id="title" class="form-control detailsInput detailsTop" placeholder="Title" title="Title" name="bookTitle" ng-model="currentBook.Title" required title-valid />
                                    <div role="alert">
                                        <span class="error" style="float:right;overflow:hidden" ng-show="editForm.bookTitle.$error.required">
                                            This field is required
                                        </span>
                                        <span class="error" style="float:right;overflow:hidden" ng-show="editForm.$error.titleValid">
                                            Please specify the title that is not greater than 30 characters
                                        </span>
                                    </div>
                                </div>
                                <div id="pageCountInfo" class="detailsInputFields">
                                    <label for="pageCount" class="labelDetails">Page count</label>
                                    <input id="pageCount" class="form-control detailsInput detailsTop" placeholder="Number of pages" name="pageCount" title="Number of pages" ng-model="currentBook.PageCount" required pages-count-valid />
                                    <div role="alert">
                                        <span class="error" style="float:right;overflow:hidden" ng-show="editForm.pageCount.$error.required">
                                            This field is required
                                        </span>
                                        <span class="error" style="float:right;overflow:hidden" ng-show="editForm.$error.pagesCountValid">
                                            Please specify pages count from 1 to 10000
                                        </span>
                                    </div>
                                </div>
                                <div id="isbnInfo" class="detailsInputFields">
                                    <label for="isbn" class="labelDetails">ISBN</label>
                                    <input id="isbn" class="form-control detailsInput detailsTop" placeholder="ISBN" name="isbn" title="ISBN" ng-model="currentBook.ISBN" required isbn-valid />
                                    <div role="alert">
                                        <span class="error" style="float:right;overflow:hidden" ng-show="editForm.isbn.$error.required">
                                            This field is required
                                        </span>
                                        <span class="error" style="float:right;overflow:hidden" ng-show="editForm.$error.isbnValid">
                                            Please specify valid ISBN (e.g. 978-1-56619-909-4)
                                        </span>
                                    </div>
                                </div>
                                <div id="publisherInfo" class="detailsInputFields">
                                    <label for="publisher" class="labelDetails">Publisher</label>
                                    <input id="publisher" class="form-control detailsInput detailsTop" placeholder="Publisher" title="Publisher" ng-model="currentBook.Publisher" publisher-valid />
                                    <div role="alert">
                                        <span class="error" style="float:right;overflow:hidden" ng-show="editForm.$error.publisherValid">
                                            Please specify the publisher name that is not greater than 30 characters
                                        </span>
                                    </div>
                                </div>
                                <div id="publicationYearInfo" class="detailsInputFields">
                                    <label for="publicationYear" class="labelDetails">Publish year</label>
                                    <input id="publicationYear" class="form-control detailsInput detailsTop" placeholder="Year of publishing" name="publishYear" title="Year of publishing" ng-model="currentBook.PublicationYear" required publication-year-valid />
                                    <div role="alert">
                                        <span class="error" style="float:right;overflow:hidden" ng-show="editForm.publishYear.$error.required">
                                            This field is required
                                        </span>
                                        <span class="error" style="float:right;overflow:hidden" ng-show="editForm.$error.publicationYearValid">
                                            Please specify publication year that is equal or greater than 1800
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="middle" class="details">
                    </div>
                    <div id="bottom" class="details">
                        <label>Authors</label>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <author ng-repeat="author in currentBook.Authors | orderBy: ['LastName', 'FirstName']"></author>
                            </li>
                            <li class="list-group-item">
                                <i>Fill in the fields below to add another author</i>
                                <div class="row">
                                    <div class="form-group col-xs-5" style="padding-right:0px">
                                        <input id="firstName" class="form-control input-group-lg reg_name detailsInput" type="text" name="firstname"
                                               title="Enter first name"
                                               placeholder="First name" ng-model="currentAuthor.FirstName" />
                                    </div>
                                    <div class="form-group col-xs-5" style="padding-right:0px">
                                        <label for="lastname" class="sr-only"></label>
                                        <input id="lastName" class="form-control input-group-lg reg_name  detailsInput" type="text" name="lastname"
                                               title="Enter last name"
                                               placeholder="Last name" ng-model="currentAuthor.LastName" />
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <a class="list-group-item addButton" ng-click="addAuthor()">
                                            Add
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button ng-disabled="editForm.$invalid" ng-enabled="editForm.$valid" class="btn btn-default" ng-click="editBook()">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span>Edit</span>
                    </button>
                </div>
            </form>
        </div>
    </script>
</head>
<body>
    <div id="main" data-ng-controller="HomeController" ng-init="init()">
        <div id="controls" data-ng-controller="BookInfoController">
            <a ng-href="#/add"><input type="button" id="createBook" value="Create" class="controlButton" /></a>            
            <a ng-href="#" ng-click="removeBook()"><input type="button" id="removeBook" value="Remove" class="controlButton" /></a>
        </div>
        <div id="books">
            <div id="left">
                <div id="search">
                    <input id="searchBox" class="form-control" placeholder="Type here to search" type="text" ng-model="searchText">
                </div>
                <div id="sortOptions">
                    <div id="sortByTitle" class="sorter form-control" ng-click="setOrder('Title');setDirection()"><center>Order by title</center></div>
                    <div id="sortByPublicationYear" class="sorter form-control" ng-click="setOrder('PublicationYear');setDirection()"><center>Order by publication year</center></div>
                </div>
                <div id="booksList" data-ng-controller="HomeController" class="col-xs-5 panel-body" style="width: 100%;padding:0px">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <book ng-repeat="book in books | orderBy: [order, ID]:direction | filter: searchText"></book>
                        </li>
                    </ul>
                </div>
            </div>
            <!--   ng-view below       -->
            <div id="right" class="col-xs-7">
                <div class="list-group panel-body">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>