﻿.booksList ul#root {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    list-style: none;
    padding: 0;
}
.booksList ul#root li{
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 70px;
}