﻿.details {
    height: 33.333333%;
    width: 100%;
    margin:5px;
}


.detailsInput:hover {
    border: 2px solid rgba(52, 152, 219, 1);
    box-shadow: 1px 1px 3px 1px rgba(52, 152, 219, 0.2) inset;
}

.detailsInput::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.detailsInput::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.detailsInput:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.detailsInput:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.detailsInput:focus::-webkit-input-placeholder {text-indent: 250px; transition: text-indent 0.3s ease;}
.detailsInput:focus::-moz-placeholder          {text-indent: 250px; transition: text-indent 0.3s ease;}
.detailsInput:focus:-moz-placeholder           {text-indent: 250px; transition: text-indent 0.3s ease;}
.detailsInput:focus:-ms-input-placeholder      {text-indent: 250px; transition: text-indent 0.3s ease;}

.detailsTop{
    width: 50%;
    float: left;
}
.detailsBottom{
    width: 50%;
    margin: auto;
}
.detailsMainPart
{
    height: 50%;
    width: 100%;
}
#detailsMain
{
    height: 100%;
    width: 100%;
}

#mainInfo {
    height: 100%;
    width: 75%;
    float: right;
    display:inline-block;
}

img {    
    max-height: 200px !important;
    max-width: 150px !important;
}

.detailsInputFields{
    display:inline-block;
    width: 100%;
}

.labelDetails{
    float: left;
    min-width: 120px;
}