﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

select,
textarea {
    max-width: 280px;
}

#main {
    width: 100%;
    height: 600px;
    border:solid 1px lightgrey;
}

#controls {
    vertical-align: top;
    width: 100%;
    height: 10%;
}

#books {
    vertical-align: bottom;
    width: 100%;
    height: 90%;    
    margin: auto;
    position: relative;
}

#search {
    vertical-align: top;
    width: 100%;
    height: 10%;
}
#sortOptions {
    vertical-align: top;
    width: 100%;
    height: 10%;
}

#booksList {
    vertical-align: bottom;
    width: 100%;
    height: 80%;
    overflow: auto;
    color: #666;
}

#left {
    float: left;
    height: 100%;
    width: 33.333333%;
}

#right {
    float: right;
    height: 100%;
    width: 66.666667%;
}

.controlButton {
    float: left;
    height: 100%;
    width: 50%;
    background-color: #4C49FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#searchBox {
    height: 100%;
    width: 100%;
    background: transparent;
    color: #2980b9;
    font-size: 16px;
    padding: 1em;
    outline: none;
    margin: 0;
}

#searchBox:hover {
    border: 2px solid rgba(52, 152, 219, 1);
    box-shadow: 1px 1px 3px 1px rgba(52, 152, 219, 0.2) inset;
}

#searchBox::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
#searchBox::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
#searchBox:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
#searchBox:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
#searchBox:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
#searchBox:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
#searchBox:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
#searchBox:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


#left {
    float: left;
    height: 100%;
    width: 33.333333%;
}

#right {
    float: right;
    height: 100%;
    width: 66.666667%;
}

.noBorder {
    border:none;
    display: inline-block;
    width: 90%;
}

.list-item-div:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.list-item-div:hover .noBorder {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.sorter {
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 15px;
    
}

.addButton{
    height: 34px;
    text-align: center;
    padding-top: 7px;
}

#photo {
    height: 200px !important;
    width: 150px !important;
    display:inline-block;
}